ASSIGNMENTS_20BEE0359/ASSIGGMENT 3/Nodered_flow.json
[
    {
        "id": "e6fdd39642531d95",
        "type": "tab",
        "label": "Flow 12",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cc7cab9e51e65019",
        "type": "ibmiot in",
        "z": "e6fdd39642531d95",
        "authentication": "apiKey",
        "apiKey": "66e062690c08039b",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "abcd",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "6ea0f4b5e8ca10d8",
                "ee604ab6b90b1435"
            ]
        ]
    },
    {
        "id": "07f7262a1b28e002",
        "type": "debug",
        "z": "e6fdd39642531d95",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "77718782a0367785",
        "type": "inject",
        "z": "e6fdd39642531d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "07f7262a1b28e002"
            ]
        ]
    },
    {
        "id": "6ea0f4b5e8ca10d8",
        "type": "function",
        "z": "e6fdd39642531d95",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.Humid;\nglobal.set(\"h\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "07f7262a1b28e002",
                "7428a20a2a0f327c"
            ]
        ]
    },
    {
        "id": "ee604ab6b90b1435",
        "type": "function",
        "z": "e6fdd39642531d95",
        "name": "Temperature",
        "func": "msg.payload = msg.payload.temp;\nglobal.set(\"t\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "07f7262a1b28e002",
                "4bb8b69ec213183c"
            ]
        ]
    },
    {
        "id": "4bb8b69ec213183c",
        "type": "ui_gauge",
        "z": "e6fdd39642531d95",
        "name": "",
        "group": "ab0565e169d626a8",
        "order": 21,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "7428a20a2a0f327c",
        "type": "ui_gauge",
        "z": "e6fdd39642531d95",
        "name": "",
        "group": "ab0565e169d626a8",
        "order": 21,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "dd3c750b69400ea2",
        "type": "ui_button",
        "z": "e6fdd39642531d95",
        "name": "",
        "group": "ab0565e169d626a8",
        "order": 25,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lighton",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "68d3ac13298ad8da",
                "332c88b2bd75e7a3"
            ]
        ]
    },
    {
        "id": "c89bba670ffad51a",
        "type": "ui_button",
        "z": "e6fdd39642531d95",
        "name": "",
        "group": "ab0565e169d626a8",
        "order": 26,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lightoff",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "68d3ac13298ad8da",
                "332c88b2bd75e7a3"
            ]
        ]
    },
    {
        "id": "68d3ac13298ad8da",
        "type": "ibmiot out",
        "z": "e6fdd39642531d95",
        "authentication": "apiKey",
        "apiKey": "66e062690c08039b",
        "outputType": "cmd",
        "deviceId": "1234",
        "deviceType": "abcd",
        "eventCommandType": "command",
        "format": "String",
        "data": "Data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "332c88b2bd75e7a3",
        "type": "debug",
        "z": "e6fdd39642531d95",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "1ac07c0aa8e33d3d",
        "type": "http in",
        "z": "e6fdd39642531d95",
        "name": "",
        "url": "/sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "88a29ece86060137"
            ]
        ]
    },
    {
        "id": "3b4a398783fc26c6",
        "type": "http response",
        "z": "e6fdd39642531d95",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "88a29ece86060137",
        "type": "function",
        "z": "e6fdd39642531d95",
        "name": "function 8",
        "func": "msg.payload = {\"temp\": global.get('t'),\"Humid\": global.get('h')}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 520,
        "wires": [
            [
                "3b4a398783fc26c6"
            ]
        ]
    },
    {
        "id": "85494bc1d1b71bbf",
        "type": "http in",
        "z": "e6fdd39642531d95",
        "name": "",
        "url": "/command",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "ec743f54779c281a",
                "85260d1a2de0221d",
                "68d3ac13298ad8da"
            ]
        ]
    },
    {
        "id": "ec743f54779c281a",
        "type": "http response",
        "z": "e6fdd39642531d95",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "85260d1a2de0221d",
        "type": "debug",
        "z": "e6fdd39642531d95",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "66e062690c08039b",
        "type": "ibmiot",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "ab0565e169d626a8",
        "type": "ui_group",
        "name": "Control",
        "tab": "71e4df768330ce73",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71e4df768330ce73",
        "type": "ui_tab",
        "name": "Monitoring system",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]